@media screen and (max-width:600px){
    .nav-container{
        margin: 20px;
    }
    .menu-items a{
        display: none;
    }
    .menu-items>.fa-solid{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    .banner-container{
        margin: 20px;
    }
    .banner-content{
        height: 100%;
    }
    .banner-items-box{
        flex-direction: column;
        width: 287px;
        margin-bottom: 20px;
    }
}